/packages
*.exe
*.cache
*.json
*.txt
*.dll
*.pdb
*.editorconfig
*.bin
RoboMove/.vs/RoboMove/v17/.suo
*.csproj
*.props
*.v2
RoboMove/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/RoboMove/obj/Debug
*.sln
/RoboMove/obj
/Robo.UnitTests/Properties
/Robo.UnitTests/obj
Robo.UnitTests/packages.config
